.App {
    text-align: center;
}

header {
    display: flex;
    background-color: darkslategray;
    align-items: center;
    border-bottom: 2px solid #ececec;
    justify-content: space-around;
    width: auto;
    height: auto;
}

.header-logo {
    display: flex;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.header-container {
    display: flex;
}

.header-item {
    font-size: 20px;
    display: flex;
    color: white;
    padding: 10px 10px;
}

a {
    text-decoration: none;
    color: white;
}

.news-board {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    width: auto;
}

.news-board-item {
    width: 700px;
    display: flex;
    flex-flow: column;
    border: 10px;
    border-bottom: 1px solid #ececec;
    padding: 15px 15px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    justify-content: center;
}

.news-board-item-title {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.news-board-item-content {
    font-size: 15px;
}

.news-board-item-pic {
    width: 100%;
}

button {
    background-color: darkslategrey;
    padding: 5px 10px;
    color: white;
}

.post-create-form {
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
}

.post-create-form-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.create-form {
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #2f4f4f;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
